[Desktop Entry]
Name=QMK Toolbox
Comment=Flash firmware to QMK keyboards
Exec=QMKToolbox
Icon=qmk-toolbox
Terminal=false
Type=Application
Categories=Development;
